@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@{
	Layout = "MasterView.cshtml";
}
<div class="row justify-content-center">
	@Model.Value("body")
</div>